genephys/__pycache__
genephys/__pycache__/*.pyc
genephys/.DS_Store

examples/.DS_Store
examples/jupyter_notebooks/.DS_Store

genephys.egg-info/*

.DS_Store
*.swp
*.py~
*~
*.asv

*.bak

dist/*tar.gz
dist/*.whl
